<nav class="indigo darken-4" style="padding-left: 10px;">
    <div class="nav-wrapper header">
        <a class="brand-logo"><%= title %></a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="fa fa-bars"></i></a>
    </div>
</nav>

<ul class="sidenav sidenav-fixed indigo darken-4" id="mobile-nav">
    <li><div class="indigo-text white-text bnn" style="width: 100%; height: 200px;"><div style="width: inherit; height: inherit; background-color: rgba(0, 0, 0, 0.63);"><h3 style="position: absolute; bottom: 0; left: 10px;"><img src="/img/edb-white.png" alt="Logo" style="width: 80px;"></h3></div></div></li>
    <li><a class="white-text" href="/dashboard"><i class="fa fa-tachometer-alt white-text" style="margin-right: 10px;"></i>Dashboard</a></li>
    <li><a class="white-text" href="/create"><i class="fa fa-plus white-text" style="margin-right: 10px;"></i>Add Employee</a></li>
    <li><a class="white-text" href="/list"><i class="fa fa-list white-text" style="margin-right: 10px;"></i>View List</a></li>
    <li><a class="white-text" href="/signOut"><i class="fa fa-power-off white-text" style="margin-right: 10px;"></i>Sign Out</a></li>
</ul>