<%- include('./partials/header') %>

<div id="index-banner" class="parallax-container valign-wrapper">
    <div class="section">
        <div class="container">
            <h1 class="center white-text">Welcome to EmpDB</h1>
            <div class="row center">
                <h5 class="grey-text text-lighten-2 light" style="font-family: Roboto Condensed;">Lorem ipsum dolor sit amet consectetur adipisicing elit</h5>
            </div>
            <div class="row center">
                <a href="/signUp" class="waves-effect waves-light btn-large indigo darken-4 pulse">get started</a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/img/emp.jpg"></div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" class="col s12 m4">
                <h3 class="center indigo-text text-darken-4"><i class="fa fa-users fa-2x"></i></h3>
                <h5 class="center">Easy to use</h5>
                <p class="center-align light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur facere veritatis esse minima. Minima velit ducimus, sunt quibusdam dolore beatae totam cupiditate. Magni culpa deserunt reiciendis perferendis dolore. Consequuntur, voluptatum.</p>
            </div>

            <div data-aos="fade-up" data-aos-delay="300" data-aos-duration="1100" class="col s12 m4">
                <h3 class="center indigo-text text-darken-4"><i class="fa fa-check-circle fa-2x"></i></h3>
                <h5 class="center">Efficiency Guaranteed</h5>
                <p class="center-align light">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat iste, dolorem deserunt nihil veniam architecto sit laboriosam excepturi a reiciendis, ducimus nobis adipisci ad ut totam cum corrupti harum corporis!</p>
            </div>

            <div data-aos="fade-up" data-aos-delay="500" data-aos-duration="1200" class="col s12 m4">
                <h3 class="center indigo-text text-darken-4"><i class="fa fa-universal-access fa-2x"></i></h3>
                <h5 class="center">Easily Accessible</h5>
                <p class="center-align light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit provident modi maiores, deleniti sint alias accusantium sit, officiis esse voluptates explicabo cumque, ullam nobis doloribus voluptatibus eius aperiam velit porro!</p>
            </div>
        </div>
    </div>
</div>

<div id="sub-sec" class="parallax-container valign-wrapper">
    <div class="container">
        <h4 class="center white-text" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
    </div>
    <div class="parallax"><img src="/img/emp1.jpg"></div>
</div>

<%- include('./partials/footer') %>