<%- include('./partials/header') %>

<div id="index-banner" class="parallax-container valign-wrapper">
    <div class="section">
        <div class="container">
            <h1 class="center white-text">Welcome to EmpDB</h1>
            <div class="row center">
                <h5 class="grey-text text-lighten-2 light" style="font-family: Roboto Condensed;">A place to hold your employee info with no fear of loss</h5>
            </div>
            <div class="row center">
                <a href="/signUp" class="waves-effect waves-light btn-large indigo darken-4 pulse">get started</a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/img/emp.jpg"></div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" class="col s12 m4">
                <h3 class="center indigo-text text-darken-4"><i class="fa fa-users fa-2x"></i></h3>
                <h5 class="center">Easy to use</h5>
                <p class="center-align light">Our webapp is designed with user-friendliness in mind. The intuitive interface and clear navigation makes it easy for anyone to use. Whether you're a tech novice or an experienced user, you'll find our webapp simple and straightforward to operate. With just a few clicks, you'll be able to access all the features and functions you need. Give it a try today and experience the convenience for yourself!</p>
            </div>

            <div data-aos="fade-up" data-aos-delay="300" data-aos-duration="1100" class="col s12 m4">
                <h3 class="center indigo-text text-darken-4"><i class="fa fa-check-circle fa-2x"></i></h3>
                <h5 class="center">Efficiency Guaranteed</h5>
                <p class="center-align light">Our webapp is designed to maximize efficiency and productivity. With its advanced features and streamlined processes, you can be sure that you'll get more done in less time. We've put in the hard work to ensure that our webapp is reliable and efficient, so you can focus on the task at hand. With "efficiency guaranteed" you can be sure that your time is being well spent. Try it today and see the results for yourself!</p>
            </div>

            <div data-aos="fade-up" data-aos-delay="500" data-aos-duration="1200" class="col s12 m4">
                <h3 class="center indigo-text text-darken-4"><i class="fa fa-universal-access fa-2x"></i></h3>
                <h5 class="center">Easily Accessible</h5>
                <p class="center-align light">Our webapp is designed to be easily accessible for all users. It can be accessed from any device with an internet connection, whether you're using a desktop computer, laptop, tablet, or smartphone. We've optimized the layout and functionality to provide a seamless experience across all platforms. This means you can access your account with ease, no matter where you are or what device you're using.</p>
            </div>
        </div>
    </div>
</div>

<div id="sub-sec" class="parallax-container valign-wrapper">
    <div class="container">
        <h4 class="center white-text" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">Empowering your workforce, one employee at a time</p>
    </div>
    <div class="parallax"><img src="/img/emp1.jpg"></div>
</div>

<%- include('./partials/footer') %>